body{
    background-image:url('../pics/fibers.png');
    text-align:center;
    font-family:"Arial", Times, serif; 
    color:white;
}

h1{
    color:white;
    text-align:center;
    
}

h{
    font-size:20px;
    text-align:left;
    color:white;
    
}

p{
    color:white;
}

.reg_div{
    float:left;
    display:inline-block;
    background-color:rgba(0,0,0,0.61);
    padding:20px;
    /*text-align:left;*/
    color:white;
    border-radius:5px;
}
.desc_div{
    float:left;
    display:inline-block;
    background-color:rgba(0,0,0,0.61);
    color:white;
    margin-right:30px;
    margin-bottom:15px;
    height:150px;
    width:200px;
    padding:20px;
    border-radius:5px;
}
.login_div{
    float:right;
    display:inline-block;
    vertical-align:center;
    padding:20px;
    background-color:rgba(0,0,0,0.60);
    margin-right:auto;
    margin-bottom:15px;
    height:150px;
    width:200px;
    border-radius:5px;
}
.main_div{
    display:inline-block;
    background-color:rgba(0,0,0,0.60);
    padding:80px;
    height:auto;
    border-radius:5px;
}
#enter{
    align:right;
}
